@media only screen and (min-width: 1281px) {

}
@media only screen and (min-width: 768px) and (max-width: 1280px) {

}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.port {
    max-width: 45%;
    margin-left: 5%;
	}

}
@media only screen and (min-width: 1px) and (max-width: 480px) {
	.port {
    max-width: 90%;
    margin-left: 10%;
	}
}

